@import "~slick-carousel/slick/slick.css";
/* @import "~slick-carousel/slick/slick-theme.css"; */
@import './_slickTheme.scss';

.Tasks {
    height: 100vh;
    /* overflow: hidden; */
    background-color: black;

}
.containerTasks {
    width: 100%;
    height: 88%;
    background-color: black;
    flex-direction: column;
    display: flex;
    justify-content: 'space-between';
    overflow: hidden;
}
@media (min-width: 450px) {
    .containerTasks {
        background-color: black;
        /* background-image: url('../images/shine@3x.png'); */
    }
    .img-block {
        margin: 2em 1em 0em 9em;
        font-size: 4 ev;
        max-width: 400px;
        width: 97%;
        align-items: center;

        background-color: white;
        /* flex: 6; */
        border-radius: 2%;
    }
    .tasksBar {
        flex: 2;
        display: block;
        background-color: black;
        min-height: 188px;
    }
    .top-bar {
        flex-direction: column;
    }
    .tasksDetails {
        display: flex;
        flex: 5;
    }

}
@media (max-width: 450px) {
    .tasksDetails {
        display: flex;
        flex-direction: column-reverse;
        flex: 2;
    }
    .containerCarousel {
         flex:1;
    }
    #scText {
        color: #d8a51d;
        font-size: 2rem;
        align-self : right;
        margin: 0.3em;
    }
    .top-bar {
        display: flex;
        flex-direction: row-reverse;
        margin-top: 0.5em;
    }
    .rec.rec-arrow {
        visibility: hidden;
        width: 0px;
        height: 0px;
        line-height: 0px;
        min-width: 0px!important;
        border: none;
        font-size: 0;

    }
    .img-block {
        border-radius: 1%;
        font-size: 1em;
        width: 92%;
        align-self: center;
        background-color: white;
        flex: 4;
    }
    .tasksBar {
        flex: 2;
        display: block;
        background-color: black;
        /* min-height: 330px; */
    }
 
    .grayBar { 
        position: absolute;
        width: 100%;
        height: 8%;
        min-height: 8%;
        background-color: #50595c;
        z-index: 20;
        /* opacity: 0.98; TODO: ask if we want this*/
    }
    
    .textStation {
        color: white;
        text-align: right;
        margin-right: 10;
    }
    .staticCube {
        flex: 4;
        width: 50%;
    }
}

.containerCarousel {
    flex:1;
}

.arrowButtons {
    padding: 0px;
    background-color: black;
    border: black;
}
.arrowButtons:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}
.rec-pagination {
    display: none!important;
}



.ReactModal__Overlay {
    opacity: 0;
    transition: opacity 600ms ease-in-out;
}

.ReactModal__Overlay--after-open{
    opacity: 1;
}

.ReactModal__Overlay--before-close{
    opacity: 0;
}

.modalHeader {
    flex: 2;
    display: flex;
}
.modalHeaderText {
    flex: 4;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
.modalHeaderLogo {
    flex: 1;
}


.modalInfoBox {
    background-color: white;
    border-radius: 3%;
    flex: 4;
    display: flex;
    flex-direction: column;
    
}




.closeButton {
    background-color: #e6b021;
    border-radius: 50%;
    border-color: black;
}

.nextStationContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 5;
    margin-bottom: 20px;
}

.finishButton {
    flex: 1;
    justify-content: center;
    align-items: center;
}

.btnFinish {
    margin-top: 'auto';
    margin-bottom: 5px;
    border-width: 2px;
    background-color: #11b911;
    border-radius: 2%;
    padding: 3%;
    color: white;
    font-size: 1.2rem;
    
}

.modalContainer {
    height: 100%;
    padding: 3%;
    display: flex;
    flex-direction: column;
}

.btnFinishedBar {
    width: 70%;
    height: 70px;
    font-size: 25;

}
.whiteText {
    color: white;
    font-family: 'Arimo', 'Arimo';
    text-align: right;

}
@media (max-width: 1000px)  {

    .carouselContainer {
        height: 100%;
    } 
    @keyframes example {
        from {transform: scale(1.00, 1.00);}
        to {transform: scale(2.00, 3.00);}
    }


    .slick-list { 
        min-height: 478px!important; 
        height: 88vh!important;
        width: 100%;
    }

    .slick-slider {
        width: 100%;
    }

    .inactiveSlide {
        animation: 400ms fadeOut;
        animation-fill-mode: forwards;
        visibility: hidden;
    }
    .prevSlide {
        margin-bottom: 2.75vh;
    }
    .nextSlide {
        margin-top: 14.75vh;
    }
    .opac {
        opacity: 0;

    }
    .activeSlide {
        transform: scale(1.8, 1.8);
        /* transform: scale(2, 2); */
    }


    .slide {
        /* height: 130px; */
        /* background-color: blueviolet; */
        transition: transform 500ms;

    }
    
    .blankBlock {
        width: 1px!important;
        height: 200px;
    }

    .center {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .modalTxt1{
        font-size: 2.2rem;
        margin-bottom: 10%;
    }
    .modalTxt2 {
            text-align: center;
            font-family: 'Arimo', 'Arimo';
            margin: 0px;
            font-size: 2rem;
        
    }
    .bottomBar {
        position:absolute;
        background-color: #50595c;
        /* bottom: 3vh; */
        right: 0px;
        left: 0px;
        margin-left: auto;
        margin-right: auto;
        height: 8%;
        width: 90%;
        z-index: 1;
        /* transition: opacity 900ms, bottom 800ms;
        transition-timing-function: ease-in-out;
        transition-property: opacity, bottom; */

        opacity: 1;
        border-width: 1px;
        border-radius: 5px;
        
    }

    .bottomBar.hide {
        opacity: 0;
        z-index: -1000;
        position: relative;
        bottom: -10vh;
        transition: opacity 600ms, bottom  500ms;
        transition-timing-function: ease-in-out;
        transition-property: opacity, bottom;
    }
    .bottomBar.up {
        opacity: 0;
        position: absolute;
        bottom: 80vh;
        transition: opacity 800ms, bottom 600ms;
        transition-timing-function: ease-in-out;
        transition-property: opacity, bottom;

    }
    .bottomBar.low {
        opacity: 1;
        position: absolute;
        bottom: 4.5vh;
        transition: opacity 500ms, bottom 600ms;
        transition-timing-function: ease-in-out;
        transition-property: opacity, bottom;

    }
    
    .slick-arrow {
        display: none!important;
    }

    @keyframes fadeOut {
        50% {
        visibility: visible;
        }
        100% {
        visibility: hidden;
        }
    }
}
@media (min-width: 1024px) {

    /* iPad css */
    .wideContainer {
    height: 85%;
    }
    .wideInfoArea {
    height: 66%;
    display: flex;
    padding: 3%;
    /* flex-direction: row; */
    }

    .wideSliderArea {
    height: 34%;
    background-color: rgb(47, 51, 52);
    flex-direction: row;
    display: flex;
    }
    .stationBox {
    width: 15%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    display: flex;
    }
    .gray {
        background-color: rgb(80, 89, 92);
    }
    .right {
        right: 3vw;
    }
    .left {
        left: 3vw;
    }
    .stationText {
        position: relative;
        width: 18vw;
    }
    .stationLogo {
    width: 80%;
    border-color: white;
    border-width: 4 pt;
    border-radius: 5pt;
    border-style: solid;
    margin: 0% 2% 22% 2%;
    height: 60%;
    align-self: center;
    }
    .bigImageContainer {
    flex:5;
    border-radius:5pt;

    }
    .bigImageWhiteContainer {
    background-color: white;
    border-radius:5pt;
    height: 88%;
    width: 90%;
    padding: 5%;
    overflow: hidden;
    }

    .taskDetailsContainer {
    flex: 4;
    display: flex;
    flex-direction: column;
    }
    .detailsTextContainer {
    flex: 3;
    overflow-y: scroll;
    }
    .horizontalCarouselContainer {
    width: 70%; 
    height: 70%;
    display: flex;
    align-items: center;
    }

    .slideHorizontalItem {
    /* height: 200px; */
    /* margin-left: 10%; */
    }
    .slick-list {
    height: 100%;
    width: 100%;
    }
    .audioContainer {
    display: flex;
    justify-content: center;
    flex: 1;
    }
    .modalContainer {
    height: 100%;
    padding: 3%;
    display: flex;
    flex-direction: column;
    }
    .modalTxt1{
    font-size:  5vw;
    margin-bottom: 14%;
    }
    .modalTxt2 {
    text-align: center;
    font-family: 'Arimo', 'Arimo';
    margin: 0px;
    font-size: 4vw;
    }
    .slick-slider {
        margin-top: 4%;
    }
}

.center{ 
    align-items: center;
    justify-content: center;
    display: flex;
}