.HelpIcon {
  padding-right: 2%;
}
.StressIcon {
  cursor: pointer;
}
.nav-item {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.navbar-nav {
  display: flex;
  height: 100%;
}
.navbar-nav .nav-link {
  width: 100%;
  height: 100%;
}

.navbar {
  background: rgb(37, 111, 161);
  top: 0;
  padding: 2% 3%;
  height: 10%;
}
.Profile {
  align-content: end;
  width: 80%;
  text-align: end;
  height: 100%;
  padding: 2% 0%;
}
.navDemo {
  display: flex;
  width: 10%;
}
.NavContent {
  width: 100%;
  height: 100%;
}
.User {
  display: flex;
  height: 100%;
  color: white;
  align-items: center;
}
h5 {
  margin-right: 1em;
}

.linker {
  /* padding-top: 5px; rotem  */
  color: black;
  align-items: center;
}
.row {
  margin: auto;
  display: flex;
}

.imageFrame {
  height: 100%;
  width: 10vw;
  border-radius: 50%;
  overflow: hidden;
  background-color: white;
  border: 3px solid rgb(0, 153, 241);
}
.ProfileContent {
  align-items: flex-end;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
/*for tablet*/
@media (min-width: 1024px) {
  @media (min-height: 768px) {
    .navbar {
      height: 15%;
      padding: 1% 3%;
    }
  }
  @media (min-height: 1024px) {
    .navbar {
      height: 15%;
      padding: 5% 3%;
    }
  }

  h5 {
    font-size: 20pt;
  }
}

@media (min-width: 1366px) {
  @media (min-height: 1024px) {
    .navbar {
      padding: 1% 3%;
    }
  }
}

@media (min-width: 1536px) {
  @media (min-height: 2048px) {
    .navbar {
      padding: 5% 3%;
    }
  }
}

@media (min-width: 2048px) {
  @media (min-height: 1024px) {
    .navbar {
      height: 15%;
      padding: 2% 3%;
    }
  }
}
/*for large moblie*/
@media (max-width: 768px) {
  .imageFrame {
    width: 10vw;
    height: 10vw;
  }
  .navDemo {
    width: 8%;
  }
  .Profile {
    width: 84%;
    padding: 1% 0%;
  }
}

@media (max-width: 800px) {
  @media (min-height: 1280px) {
    .navbar {
      padding: 3% 3%;
    }
  }
}

/*for small mobile*/
@media (max-width: 450px) {
  .navDemo {
    width: 19%;
  }
  /*for long screen moblie*/
  @media (min-height: 768px) {
    .navbar {
      padding: 5% 3%;
    }
  }
  .navbar {
    height: 12%;
  }
  .imageFrame {
    width: 19vw;
    height: 16vw;
  }
  h5 {
    margin-right: 0.5rem;
    font-size: 14pt;
  }
}
@media (max-width: 350px) {
  .navDemo {
    width: 15%;
  }
}
